name: 'Terraform Plan and Apply'

on:
  push:
    branches: [ "main" ]
  pull_request:

env:
  AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
  AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
  AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
  AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

jobs:
  terraform_plan_apply:
    name: 'Terraform Plan and Apply Job '
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4

    - name: Login to Azure
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      
    - name: Terraform Init
      run: terraform init

    - name: Terraform Plan
      run: terraform plan -out=terraform.tfplan

    - name: Terraform Apply
      run: terraform apply terraform.tfplan

    - name: Save plan output
      uses: actions/upload-artifact@v4
      with:
        path: tfplan
        name: tfplan

terraform_apply:
  name: 'Terraform Apply Job '
  runs-on: ubuntu-latest
  needs: terraform_plan
  
  steps:
  - name: Checkout the repository
    uses: actions/checkout@v4

  - name: Login to Azure
    uses: azure/login@v2
    with:
      creds: ${{ secrets.AZURE_CREDENTIALS }}

  - name: Setup Terraform
    uses: hashicorp/setup-terraform@v3

  - name: Terraform Init
    run: terraform init

  - name: Download plan output
    uses: actions/download-artifact@v4
    with:
      name: tfplan

  - name: Terraform Apply
    run: terraform apply -auto-approve tfplan